#mins {
  opacity: 1;
}

#hours {
  opacity: 1;
}

#secs {
  opacity: 1;
}

#type12 {
  font-size: 16;
  font-family: System-Bold;
  font-weight: regular;
  text-length: 32;
  fill: #30333c;
  x: 10%+20;
  y: 50%-65;
}

#type24 {
  font-size: 16;
  font-family: System-Bold;
  font-weight: regular;
  text-length: 32;
  fill: #30333c;
  x: 10%+40;
  y: 50%-65;
}

#steps {
  font-size: 16;
  font-family: System-Bold;
  font-weight: regular;
  text-length: 32;
  fill: #30333c;
  x: 34;
  y: 200;
}