#theTime {
  font-size: 42;
  font-family: Colfax-Regular;
  text-length: 32;
  text-anchor: middle;
  x: 50%+70;
  y: 50%+85;
  fill: white;
}

#power {
  font-size: 20;
  font-family: Colfax-Bold;
  text-length: 20;
  text-anchor: middle;
  x: 50%+18;
  y: 50%-129;
  fill: white;
  visibility: hidden;
}

#batteryIcon {
  width: 20;
  height: 10;
  x: 50%-32;
  y: 50%-140;
  visibility: hidden;
}